.flag-us {
	background-image:url(/images/logindialog/icons/small/flags/us.gif) !important;
}

.flag-es {
	background-image:url(/images/logindialog/icons/small/flags/es.gif) !important;
}

.flag-fr {
	background-image:url(/images/logindialog/icons/small/flags/fr.gif) !important;
}

.flag-br {
	background-image:url(/images/logindialog/icons/small/flags/br.gif) !important;
}