@CHARSET "UTF-8";
.app-header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fc33a), color-stop(100%, #739b2e));
  background-image: -webkit-linear-gradient(top, #8fc33a, #739b2e);
  background-image: -moz-linear-gradient(top, #8fc33a, #739b2e);
  background-image: -o-linear-gradient(top, #8fc33a, #739b2e);
  background-image: linear-gradient(top, #8fc33a, #739b2e);
  border-bottom: 1px solid #567422;
}

.app-header-title {
  padding: 10px 10px 10px 10px;
  /*background: url(/images/logo.png) no-repeat 10px 11px;*/
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 1px 0 #4e691f;
}


.app-header-userinfo {
  padding: 30px 10px 10px 10px;
  /*background: url(/images/logo.png) no-repeat 10px 11px;*/
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 #4e691f;
}

.app-header-logout a {
  padding: 30px 10px 10px 30px;
  background: url(/images/default/logout.png) no-repeat 10px 30px;
  color: yellow;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 #4e691f;
  text-decoration: none;
}

.versioning {
    color: #FFFFFF; 
    width: '100%';
    padding: 3px 3px 3px 3px;
    font-family: Arial; 
    height: 25px;
    font-size: 12px;
    background: #DFEAF2;
        -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.versioning_title {
    float: left;
    width: 20%;
    text-align: right;
    padding: 0px 5px 0px 5px;
}

.versioning_type {
    float: left;
    text-align: left;
    padding: 0px 5px 0px 5px;
}

.versioning_date {
    float: left;
    text-align: left;
    padding: 0px 5px 0px 5px;
}

.versioning_datecreation {
    float: left;
    text-align: left;
    padding: 0px 5px 0px 5px;
}
.versioning_history {
    float: right;
    width: 10%;
    text-align: center;
}


body {
    font-family: Arial;
    font-size: smaller;
}

#centered-box {
    color: #FFFFFF; 
    width: 320px;
    padding: 10px 10px 10px 10px;
    font-family: Arial; 
    /*height: 120px; */
    font-size: 18px; 
    text-align: center;
    background: #c9de96; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9de96 0%, #7eab32 44%, #7eab32 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#7eab32), color-stop(100%,#7eab32)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c9de96 0%,#7eab32 44%,#7eab32 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c9de96 0%,#7eab32 44%,#7eab32 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c9de96 0%,#7eab32 44%,#7eab32 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c9de96 0%,#7eab32 44%,#7eab32 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#7eab32',GradientType=0 ); /* IE6-9 */
}

.rotated-text-minus90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: tb-rl;
    word-wrap: break-word;
    width:1.5em;
    right: -1.5em;
    position:absolute;
    vertical-align: left;
    display:block;
    top: 0px;
    /* display:block; */
}

.rotated-text-plus90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;
    word-wrap: break-word;
    width:6em;
    position:absolute;
    /* display:block; */
}

@font-face {
    font-family: 'Pictos';
    src: url("../../js/extjs/resources/pictos/pictos.eot");
    src: url("../../js/extjs/resources/pictos/pictos.eot?#iefix") format("embedded-opentype"), 
        url("../../js/extjs/resources/pictos/pictos.woff") format("woff"), 
        url("../../js/extjs/resources/pictos/pictos.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.risk_label_1
{
    background: #bd362f;
    color: #ffffff;
}
.risk_label_2
{
    background: yellow;
    color: #000;
}
.risk_label_3
{
    background: yellowgreen;
    color: #ffffff;
}
.risk_text_1
{
    background: silver;
    color: #000;
}
.risk_text_2
{
    background: snow;
    color: #000;
}
.risk_text_3
{
    background: silver;
    color: #000;
}

.x-column-header-inner .x-column-header-text {
    white-space: normal;
}